In [1]:
import numpy as np
import pandas as pd

## Importing Data from drive

In [10]:
from google.colab import drive
drive.mount('/content/gdrive')

# Assuming the files are in 'My Drive/data' folder
file1_path = '/content/gdrive/MyDrive/Sales Data/Car_sales_region.csv'
file2_path = '/content/gdrive/MyDrive/Sales Data/car_sales_summary.csv'

car_sales_summary= pd.read_csv(file1_path)
car_sales_region= pd.read_csv(file2_path)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

## Calculating brand wise sales

We want our report like this

![b1e0cc49-8b9f-4ff6-b750-3d1dfd2d5fb6_83d04ac6-cb74-4a96-a06a-e0d5442aa126_image.webp]()

Note: brands_sold indicates the total number of unique car brands sold in the state

In [11]:
car_sales_summary

,State,Region,City,seller_type,name
0,Illinois,Central,Chicago,Individual,Hyundai i20 Sportz Diesel
1,New York,East,New York City,Individual,Hyundai Xcent 1.2 VTVT E Plus
2,California,West,Los Angeles,Individual,Maruti Wagon R LXI DUO BSIII
3,California,West,Los Angeles,Individual,Maruti 800 DX BSII
4,California,West,Los Angeles,Individual,Toyota Etios VXD
...,...,...,...,...,...
2291,California,West,Costa Mesa,Individual,Mahindra XUV500 W8 2WD
2292,Arkansas,South,Cabot,Individual,Mahindra Bolero Power Plus ZLX
2293,Arkansas,South,Cabot,Individual,Hyundai Xcent 1.2 Kappa SX Option
2294,Wyoming,West,Rock Springs,Individual,Hyundai Verna 1.4 CRDi
2295,Massachusetts,East,Amesbury,Individual,Toyota Innova 2.5 VX (Diesel) 7 Seater

In [12]:
car_sales_region

,state,total_sales_value,total_cars_sold,policy_car_sales_pct
0,ILLINOIS,96588992,179,44.69
1,OKLAHOMA,10066998,24,0.00
2,WISCONSIN,16671999,39,0.00
3,PENNSYLVANIA,37675998,84,51.19
4,MAINE,8025000,17,0.00
5,MASSACHUSETTS,55234995,83,72.29
6,OHIO,38726997,69,0.00
7,OREGON,28727998,36,0.00
8,ARIZONA,15820000,32,0.00
9,WYOMING,825000,2,0.00
10,LOUISIANA,3490000,8,0.00
11,NEW HAMPSHIRE,3287000,8,0.00
12,VIRGINIA,17545998,38,0.00
13,NEW YORK,183087994,275,64.00
14,MARYLAND,38725999,35,0.00
15,CALIFORNIA,184980984,310,69.68
16,MISSOURI,7689999,21,0.00
17,MINNESOTA,16844000,28,0.00
18,DISTRICT OF COLUMBIA,36348996,59,100.00
19,FLORIDA,68707499,110,34.55
20,INDIANA,31936997,56,0.00
21,WASHINGTON,73394995,115,70.43
22,NORTH DAKOTA,965000,4,0.00
23,CONNECTICUT,5520000,10,0.00
24,NEW JERSEY,9442999,23,0.00
25,MICHIGAN,54464998,91,35.16
26,IOWA,25774997,29,0.00
27,NORTH CAROLINA,82849998,71,49.30
28,VERMONT,3003000,7,0.00
29,IDAHO,14109000,12,0.00
30,GEORGIA,39746997,54,51.85
31,NEBRASKA,2174000,4,0.00
32,COLORADO,12062999,22,0.00
33,TEXAS,103698994,160,35.00
34,SOUTH CAROLINA,4625000,8,0.00
35,WEST VIRGINIA,1120000,4,0.00
36,MONTANA,8149000,5,0.00
37,UTAH,17676000,29,0.00
38,TENNESSEE,11610997,25,0.00
39,ALABAMA,9680999,23,0.00
40,RHODE ISLAND,769000,2,0.00
41,ARKANSAS,36409998,37,0.00
42,KANSAS,12212149,28,0.00
43,KENTUCKY,9105000,17,0.00
44,NEW MEXICO,3404000,3,0.00

In [13]:
car_sales_summary['brand']=car_sales_summary['name'].str.split().str[0]
car_sales_summary

,State,Region,City,seller_type,name,brand
0,Illinois,Central,Chicago,Individual,Hyundai i20 Sportz Diesel,Hyundai
1,New York,East,New York City,Individual,Hyundai Xcent 1.2 VTVT E Plus,Hyundai
2,California,West,Los Angeles,Individual,Maruti Wagon R LXI DUO BSIII,Maruti
3,California,West,Los Angeles,Individual,Maruti 800 DX BSII,Maruti
4,California,West,Los Angeles,Individual,Toyota Etios VXD,Toyota
...,...,...,...,...,...,...
2291,California,West,Costa Mesa,Individual,Mahindra XUV500 W8 2WD,Mahindra
2292,Arkansas,South,Cabot,Individual,Mahindra Bolero Power Plus ZLX,Mahindra
2293,Arkansas,South,Cabot,Individual,Hyundai Xcent 1.2 Kappa SX Option,Hyundai
2294,Wyoming,West,Rock Springs,Individual,Hyundai Verna 1.4 CRDi,Hyundai
2295,Massachusetts,East,Amesbury,Individual,Toyota Innova 2.5 VX (Diesel) 7 Seater,Toyota

In [17]:
car_sales_summary['State'] = car_sales_summary['State'].str.upper()
car_sales_summary

,State,Region,City,seller_type,name,brand
0,ILLINOIS,Central,Chicago,Individual,Hyundai i20 Sportz Diesel,Hyundai
1,NEW YORK,East,New York City,Individual,Hyundai Xcent 1.2 VTVT E Plus,Hyundai
2,CALIFORNIA,West,Los Angeles,Individual,Maruti Wagon R LXI DUO BSIII,Maruti
3,CALIFORNIA,West,Los Angeles,Individual,Maruti 800 DX BSII,Maruti
4,CALIFORNIA,West,Los Angeles,Individual,Toyota Etios VXD,Toyota
...,...,...,...,...,...,...
2291,CALIFORNIA,West,Costa Mesa,Individual,Mahindra XUV500 W8 2WD,Mahindra
2292,ARKANSAS,South,Cabot,Individual,Mahindra Bolero Power Plus ZLX,Mahindra
2293,ARKANSAS,South,Cabot,Individual,Hyundai Xcent 1.2 Kappa SX Option,Hyundai
2294,WYOMING,West,Rock Springs,Individual,Hyundai Verna 1.4 CRDi,Hyundai
2295,MASSACHUSETTS,East,Amesbury,Individual,Toyota Innova 2.5 VX (Diesel) 7 Seater,Toyota

In [18]:
cars_sales_summary=car_sales_summary[['State','brand']]
cars_sales_summary

              State     brand
0          ILLINOIS   Hyundai
1          NEW YORK   Hyundai
2        CALIFORNIA    Maruti
3        CALIFORNIA    Maruti
4        CALIFORNIA    Toyota
...             ...       ...
2291     CALIFORNIA  Mahindra
2292       ARKANSAS  Mahindra
2293       ARKANSAS   Hyundai
2294        WYOMING   Hyundai
2295  MASSACHUSETTS    Toyota

[2296 rows x 2 columns]

In [19]:
cars_sales_summary_count=cars_sales_summary.groupby('State').agg(brands_sold=('brand','nunique')).reset_index()
cars_sales_summary_count

                   State  brands_sold
0                ALABAMA            7
1                ARIZONA            9
2               ARKANSAS           13
3             CALIFORNIA           20
4               COLORADO            7
5            CONNECTICUT            6
6   DISTRICT OF COLUMBIA           14
7                FLORIDA           16
8                GEORGIA           16
9                  IDAHO            8
10              ILLINOIS           17
11               INDIANA           12
12                  IOWA           11
13                KANSAS            6
14              KENTUCKY            9
15             LOUISIANA            4
16                 MAINE            7
17              MARYLAND           12
18         MASSACHUSETTS           15
19              MICHIGAN           14
20             MINNESOTA            9
21              MISSOURI            7
22               MONTANA            5
23              NEBRASKA            4
24         NEW HAMPSHIRE            4
25            NEW JERSEY           10
26            NEW MEXICO            2
27              NEW YORK           21
28        NORTH CAROLINA           17
29          NORTH DAKOTA            4
30                  OHIO           14
31              OKLAHOMA            6
32                OREGON           14
33          PENNSYLVANIA           14
34          RHODE ISLAND            2
35        SOUTH CAROLINA            6
36             TENNESSEE            9
37                 TEXAS           20
38                  UTAH           12
39               VERMONT            6
40              VIRGINIA            8
41            WASHINGTON           16
42         WEST VIRGINIA            4
43             WISCONSIN           11
44               WYOMING            2

In [20]:
final_sales= pd.merge(car_sales_region,cars_sales_summary_count, left_on='state',right_on='State')
final_sales

,state,total_sales_value,total_cars_sold,policy_car_sales_pct,State,brands_sold
0,ILLINOIS,96588992,179,44.69,ILLINOIS,17
1,OKLAHOMA,10066998,24,0.00,OKLAHOMA,6
2,WISCONSIN,16671999,39,0.00,WISCONSIN,11
3,PENNSYLVANIA,37675998,84,51.19,PENNSYLVANIA,14
4,MAINE,8025000,17,0.00,MAINE,7
5,MASSACHUSETTS,55234995,83,72.29,MASSACHUSETTS,15
6,OHIO,38726997,69,0.00,OHIO,14
7,OREGON,28727998,36,0.00,OREGON,14
8,ARIZONA,15820000,32,0.00,ARIZONA,9
9,WYOMING,825000,2,0.00,WYOMING,2
10,LOUISIANA,3490000,8,0.00,LOUISIANA,4
11,NEW HAMPSHIRE,3287000,8,0.00,NEW HAMPSHIRE,4
12,VIRGINIA,17545998,38,0.00,VIRGINIA,8
13,NEW YORK,183087994,275,64.00,NEW YORK,21
14,MARYLAND,38725999,35,0.00,MARYLAND,12
15,CALIFORNIA,184980984,310,69.68,CALIFORNIA,20
16,MISSOURI,7689999,21,0.00,MISSOURI,7
17,MINNESOTA,16844000,28,0.00,MINNESOTA,9
18,DISTRICT OF COLUMBIA,36348996,59,100.00,DISTRICT OF COLUMBIA,14
19,FLORIDA,68707499,110,34.55,FLORIDA,16
20,INDIANA,31936997,56,0.00,INDIANA,12
21,WASHINGTON,73394995,115,70.43,WASHINGTON,16
22,NORTH DAKOTA,965000,4,0.00,NORTH DAKOTA,4
23,CONNECTICUT,5520000,10,0.00,CONNECTICUT,6
24,NEW JERSEY,9442999,23,0.00,NEW JERSEY,10
25,MICHIGAN,54464998,91,35.16,MICHIGAN,14
26,IOWA,25774997,29,0.00,IOWA,11
27,NORTH CAROLINA,82849998,71,49.30,NORTH CAROLINA,17
28,VERMONT,3003000,7,0.00,VERMONT,6
29,IDAHO,14109000,12,0.00,IDAHO,8
30,GEORGIA,39746997,54,51.85,GEORGIA,16
31,NEBRASKA,2174000,4,0.00,NEBRASKA,4
32,COLORADO,12062999,22,0.00,COLORADO,7
33,TEXAS,103698994,160,35.00,TEXAS,20
34,SOUTH CAROLINA,4625000,8,0.00,SOUTH CAROLINA,6
35,WEST VIRGINIA,1120000,4,0.00,WEST VIRGINIA,4
36,MONTANA,8149000,5,0.00,MONTANA,5
37,UTAH,17676000,29,0.00,UTAH,12
38,TENNESSEE,11610997,25,0.00,TENNESSEE,9
39,ALABAMA,9680999,23,0.00,ALABAMA,7
40,RHODE ISLAND,769000,2,0.00,RHODE ISLAND,2
41,ARKANSAS,36409998,37,0.00,ARKANSAS,13
42,KANSAS,12212149,28,0.00,KANSAS,6
43,KENTUCKY,9105000,17,0.00,KENTUCKY,9
44,NEW MEXICO,3404000,3,0.00,NEW MEXICO,2

In [21]:
final_sales=final_sales[['state','total_sales_value','total_cars_sold','brands_sold']]
final_sales

                   state  total_sales_value  total_cars_sold  brands_sold
0               ILLINOIS           96588992              179           17
1               OKLAHOMA           10066998               24            6
2              WISCONSIN           16671999               39           11
3           PENNSYLVANIA           37675998               84           14
4                  MAINE            8025000               17            7
5          MASSACHUSETTS           55234995               83           15
6                   OHIO           38726997               69           14
7                 OREGON           28727998               36           14
8                ARIZONA           15820000               32            9
9                WYOMING             825000                2            2
10             LOUISIANA            3490000                8            4
11         NEW HAMPSHIRE            3287000                8            4
12              VIRGINIA           17545998               38            8
13              NEW YORK          183087994              275           21
14              MARYLAND           38725999               35           12
15            CALIFORNIA          184980984              310           20
16              MISSOURI            7689999               21            7
17             MINNESOTA           16844000               28            9
18  DISTRICT OF COLUMBIA           36348996               59           14
19               FLORIDA           68707499              110           16
20               INDIANA           31936997               56           12
21            WASHINGTON           73394995              115           16
22          NORTH DAKOTA             965000                4            4
23           CONNECTICUT            5520000               10            6
24            NEW JERSEY            9442999               23           10
25              MICHIGAN           54464998               91           14
26                  IOWA           25774997               29           11
27        NORTH CAROLINA           82849998               71           17
28               VERMONT            3003000                7            6
29                 IDAHO           14109000               12            8
30               GEORGIA           39746997               54           16
31              NEBRASKA            2174000                4            4
32              COLORADO           12062999               22            7
33                 TEXAS          103698994              160           20
34        SOUTH CAROLINA            4625000                8            6
35         WEST VIRGINIA            1120000                4            4
36               MONTANA            8149000                5            5
37                  UTAH           17676000               29           12
38             TENNESSEE           11610997               25            9
39               ALABAMA            9680999               23            7
40          RHODE ISLAND             769000                2            2
41              ARKANSAS           36409998               37           13
42                KANSAS           12212149               28            6
43              KENTUCKY            9105000               17            9
44            NEW MEXICO            3404000                3            2

## Rank Calculation

From the metrics calculated above, it is important to rank each state based on its performance across the calculated metrics. The ranking criteria to be followed is:  

sales_rank : Higher the sales, better should be the rank. Ex. If state A sold $1000 worth of cars against state B which sold 800, then state A gets rank 1 and B gets rank 2.
cars_rank : Higher the number of cars sold, better should be the rank. Ex. If state A sold 100 cars against state B which sold 80, then state A gets rank 1 and B gets rank 2.
brands_rank : Higher the number of unique brands sold, better should be the rank.  Ex. If state A sold 10 unique brands against state B which sold 8, then state A gets rank 1 and B gets rank 2.

![951560bd-3742-4b56-9f1f-617fbd2343ea_83d04ac6-cb74-4a96-a06a-e0d5442aa126_image.webp]()

In [26]:
final_sales['sales_rank']=final_sales['total_sales_value'].rank(method='dense' ,ascending=False)
final_sales['cars_rank']=final_sales['total_cars_sold'].rank(method='dense',ascending=False)
final_sales['brands_rank']=final_sales['brands_sold'].rank(method='dense',ascending=False)
final_sales

<ipython-input-26-b8e2c4ba1e6f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_sales['sales_rank']=final_sales['total_sales_value'].rank(method='dense' ,ascending=False)

,state,total_sales_value,total_cars_sold,brands_sold,sales_rank,cars_rank,brands_rank
0,ILLINOIS,96588992,179,17,4.0,3.0,3.0
1,OKLAHOMA,10066998,24,6,28.0,24.0,14.0
2,WISCONSIN,16671999,39,11,22.0,15.0,9.0
3,PENNSYLVANIA,37675998,84,14,13.0,8.0,6.0
4,MAINE,8025000,17,7,33.0,28.0,13.0
5,MASSACHUSETTS,55234995,83,15,8.0,9.0,5.0
6,OHIO,38726997,69,14,11.0,11.0,6.0
7,OREGON,28727998,36,14,17.0,18.0,6.0
8,ARIZONA,15820000,32,9,23.0,20.0,11.0
9,WYOMING,825000,2,2,44.0,36.0,17.0
10,LOUISIANA,3490000,8,4,37.0,31.0,16.0
11,NEW HAMPSHIRE,3287000,8,4,39.0,31.0,16.0
12,VIRGINIA,17545998,38,8,20.0,16.0,12.0
13,NEW YORK,183087994,275,21,2.0,2.0,1.0
14,MARYLAND,38725999,35,12,12.0,19.0,8.0
15,CALIFORNIA,184980984,310,20,1.0,1.0,2.0
16,MISSOURI,7689999,21,7,34.0,27.0,13.0
17,MINNESOTA,16844000,28,9,21.0,22.0,11.0
18,DISTRICT OF COLUMBIA,36348996,59,14,15.0,12.0,6.0
19,FLORIDA,68707499,110,16,7.0,6.0,4.0
20,INDIANA,31936997,56,12,16.0,13.0,8.0
21,WASHINGTON,73394995,115,16,6.0,5.0,4.0
22,NORTH DAKOTA,965000,4,4,43.0,34.0,16.0
23,CONNECTICUT,5520000,10,6,35.0,30.0,14.0
24,NEW JERSEY,9442999,23,10,30.0,25.0,10.0
25,MICHIGAN,54464998,91,14,9.0,7.0,6.0
26,IOWA,25774997,29,11,18.0,21.0,9.0
27,NORTH CAROLINA,82849998,71,17,5.0,10.0,3.0
28,VERMONT,3003000,7,6,40.0,32.0,14.0
29,IDAHO,14109000,12,8,24.0,29.0,12.0
30,GEORGIA,39746997,54,16,10.0,14.0,4.0
31,NEBRASKA,2174000,4,4,41.0,34.0,16.0
32,COLORADO,12062999,22,7,26.0,26.0,13.0
33,TEXAS,103698994,160,20,3.0,4.0,2.0
34,SOUTH CAROLINA,4625000,8,6,36.0,31.0,14.0
35,WEST VIRGINIA,1120000,4,4,42.0,34.0,16.0
36,MONTANA,8149000,5,5,32.0,33.0,15.0
37,UTAH,17676000,29,12,19.0,21.0,8.0
38,TENNESSEE,11610997,25,9,27.0,23.0,11.0
39,ALABAMA,9680999,23,7,29.0,25.0,13.0
40,RHODE ISLAND,769000,2,2,45.0,36.0,17.0
41,ARKANSAS,36409998,37,13,14.0,17.0,7.0
42,KANSAS,12212149,28,6,25.0,22.0,14.0
43,KENTUCKY,9105000,17,9,31.0,28.0,11.0
44,NEW MEXICO,3404000,3,2,38.0,35.0,17.0

## State tier

It is now required to categorize states in different tiers. To achieve this purpose, following steps to be followed :



Calculate the average of all the rank columns and scale it finally between the range 0-10. (Use min-max scaling technique)

The criteria for categorizing states in different tiers is :
If scaled rank > 7, the state falls in Bottom Tier
If scaled rank is between 3 (exclusive) and 7, the state falls under Middle Tier
If the scaled rank is less than 3 (inclusive), the state is considered Top Tier

![a1a442e6-95ff-4ac5-bd76-e70e247a872a_83d04ac6-cb74-4a96-a06a-e0d5442aa126_image.webp]()

In [27]:
final_sales['avg_rank']=(final_sales['sales_rank']+final_sales['cars_rank']+final_sales['brands_rank'])/3
final_sales

,state,total_sales_value,total_cars_sold,brands_sold,sales_rank,cars_rank,brands_rank,avg_rank
0,ILLINOIS,96588992,179,17,4.0,3.0,3.0,3.333333
1,OKLAHOMA,10066998,24,6,28.0,24.0,14.0,22.000000
2,WISCONSIN,16671999,39,11,22.0,15.0,9.0,15.333333
3,PENNSYLVANIA,37675998,84,14,13.0,8.0,6.0,9.000000
4,MAINE,8025000,17,7,33.0,28.0,13.0,24.666667
5,MASSACHUSETTS,55234995,83,15,8.0,9.0,5.0,7.333333
6,OHIO,38726997,69,14,11.0,11.0,6.0,9.333333
7,OREGON,28727998,36,14,17.0,18.0,6.0,13.666667
8,ARIZONA,15820000,32,9,23.0,20.0,11.0,18.000000
9,WYOMING,825000,2,2,44.0,36.0,17.0,32.333333
10,LOUISIANA,3490000,8,4,37.0,31.0,16.0,28.000000
11,NEW HAMPSHIRE,3287000,8,4,39.0,31.0,16.0,28.666667
12,VIRGINIA,17545998,38,8,20.0,16.0,12.0,16.000000
13,NEW YORK,183087994,275,21,2.0,2.0,1.0,1.666667
14,MARYLAND,38725999,35,12,12.0,19.0,8.0,13.000000
15,CALIFORNIA,184980984,310,20,1.0,1.0,2.0,1.333333
16,MISSOURI,7689999,21,7,34.0,27.0,13.0,24.666667
17,MINNESOTA,16844000,28,9,21.0,22.0,11.0,18.000000
18,DISTRICT OF COLUMBIA,36348996,59,14,15.0,12.0,6.0,11.000000
19,FLORIDA,68707499,110,16,7.0,6.0,4.0,5.666667
20,INDIANA,31936997,56,12,16.0,13.0,8.0,12.333333
21,WASHINGTON,73394995,115,16,6.0,5.0,4.0,5.000000
22,NORTH DAKOTA,965000,4,4,43.0,34.0,16.0,31.000000
23,CONNECTICUT,5520000,10,6,35.0,30.0,14.0,26.333333
24,NEW JERSEY,9442999,23,10,30.0,25.0,10.0,21.666667
25,MICHIGAN,54464998,91,14,9.0,7.0,6.0,7.333333
26,IOWA,25774997,29,11,18.0,21.0,9.0,16.000000
27,NORTH CAROLINA,82849998,71,17,5.0,10.0,3.0,6.000000
28,VERMONT,3003000,7,6,40.0,32.0,14.0,28.666667
29,IDAHO,14109000,12,8,24.0,29.0,12.0,21.666667
30,GEORGIA,39746997,54,16,10.0,14.0,4.0,9.333333
31,NEBRASKA,2174000,4,4,41.0,34.0,16.0,30.333333
32,COLORADO,12062999,22,7,26.0,26.0,13.0,21.666667
33,TEXAS,103698994,160,20,3.0,4.0,2.0,3.000000
34,SOUTH CAROLINA,4625000,8,6,36.0,31.0,14.0,27.000000
35,WEST VIRGINIA,1120000,4,4,42.0,34.0,16.0,30.666667
36,MONTANA,8149000,5,5,32.0,33.0,15.0,26.666667
37,UTAH,17676000,29,12,19.0,21.0,8.0,16.000000
38,TENNESSEE,11610997,25,9,27.0,23.0,11.0,20.333333
39,ALABAMA,9680999,23,7,29.0,25.0,13.0,22.333333
40,RHODE ISLAND,769000,2,2,45.0,36.0,17.0,32.666667
41,ARKANSAS,36409998,37,13,14.0,17.0,7.0,12.666667
42,KANSAS,12212149,28,6,25.0,22.0,14.0,20.333333
43,KENTUCKY,9105000,17,9,31.0,28.0,11.0,23.333333
44,NEW MEXICO,3404000,3,2,38.0,35.0,17.0,30.000000

In [32]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 10))
final_sales[['scaled_rank']] = scaler.fit_transform(final_sales[['avg_rank']])
final_sales

,state,total_sales_value,total_cars_sold,brands_sold,sales_rank,cars_rank,brands_rank,avg_rank,scaled_rank
0,ILLINOIS,96588992,179,17,4.0,3.0,3.0,3.333333,0.638298
1,OKLAHOMA,10066998,24,6,28.0,24.0,14.0,22.000000,6.595745
2,WISCONSIN,16671999,39,11,22.0,15.0,9.0,15.333333,4.468085
3,PENNSYLVANIA,37675998,84,14,13.0,8.0,6.0,9.000000,2.446809
4,MAINE,8025000,17,7,33.0,28.0,13.0,24.666667,7.446809
5,MASSACHUSETTS,55234995,83,15,8.0,9.0,5.0,7.333333,1.914894
6,OHIO,38726997,69,14,11.0,11.0,6.0,9.333333,2.553191
7,OREGON,28727998,36,14,17.0,18.0,6.0,13.666667,3.936170
8,ARIZONA,15820000,32,9,23.0,20.0,11.0,18.000000,5.319149
9,WYOMING,825000,2,2,44.0,36.0,17.0,32.333333,9.893617
10,LOUISIANA,3490000,8,4,37.0,31.0,16.0,28.000000,8.510638
11,NEW HAMPSHIRE,3287000,8,4,39.0,31.0,16.0,28.666667,8.723404
12,VIRGINIA,17545998,38,8,20.0,16.0,12.0,16.000000,4.680851
13,NEW YORK,183087994,275,21,2.0,2.0,1.0,1.666667,0.106383
14,MARYLAND,38725999,35,12,12.0,19.0,8.0,13.000000,3.723404
15,CALIFORNIA,184980984,310,20,1.0,1.0,2.0,1.333333,0.000000
16,MISSOURI,7689999,21,7,34.0,27.0,13.0,24.666667,7.446809
17,MINNESOTA,16844000,28,9,21.0,22.0,11.0,18.000000,5.319149
18,DISTRICT OF COLUMBIA,36348996,59,14,15.0,12.0,6.0,11.000000,3.085106
19,FLORIDA,68707499,110,16,7.0,6.0,4.0,5.666667,1.382979
20,INDIANA,31936997,56,12,16.0,13.0,8.0,12.333333,3.510638
21,WASHINGTON,73394995,115,16,6.0,5.0,4.0,5.000000,1.170213
22,NORTH DAKOTA,965000,4,4,43.0,34.0,16.0,31.000000,9.468085
23,CONNECTICUT,5520000,10,6,35.0,30.0,14.0,26.333333,7.978723
24,NEW JERSEY,9442999,23,10,30.0,25.0,10.0,21.666667,6.489362
25,MICHIGAN,54464998,91,14,9.0,7.0,6.0,7.333333,1.914894
26,IOWA,25774997,29,11,18.0,21.0,9.0,16.000000,4.680851
27,NORTH CAROLINA,82849998,71,17,5.0,10.0,3.0,6.000000,1.489362
28,VERMONT,3003000,7,6,40.0,32.0,14.0,28.666667,8.723404
29,IDAHO,14109000,12,8,24.0,29.0,12.0,21.666667,6.489362
30,GEORGIA,39746997,54,16,10.0,14.0,4.0,9.333333,2.553191
31,NEBRASKA,2174000,4,4,41.0,34.0,16.0,30.333333,9.255319
32,COLORADO,12062999,22,7,26.0,26.0,13.0,21.666667,6.489362
33,TEXAS,103698994,160,20,3.0,4.0,2.0,3.000000,0.531915
34,SOUTH CAROLINA,4625000,8,6,36.0,31.0,14.0,27.000000,8.191489
35,WEST VIRGINIA,1120000,4,4,42.0,34.0,16.0,30.666667,9.361702
36,MONTANA,8149000,5,5,32.0,33.0,15.0,26.666667,8.085106
37,UTAH,17676000,29,12,19.0,21.0,8.0,16.000000,4.680851
38,TENNESSEE,11610997,25,9,27.0,23.0,11.0,20.333333,6.063830
39,ALABAMA,9680999,23,7,29.0,25.0,13.0,22.333333,6.702128
40,RHODE ISLAND,769000,2,2,45.0,36.0,17.0,32.666667,10.000000
41,ARKANSAS,36409998,37,13,14.0,17.0,7.0,12.666667,3.617021
42,KANSAS,12212149,28,6,25.0,22.0,14.0,20.333333,6.063830
43,KENTUCKY,9105000,17,9,31.0,28.0,11.0,23.333333,7.021277
44,NEW MEXICO,3404000,3,2,38.0,35.0,17.0,30.000000,9.148936

In [33]:
def scaled(value):
    if value>7:
       return 'Bottom Tier'
    elif value>3 and value<7:
       return 'Mid Tier'
    else:
       return 'Top Tier'

In [34]:
final_sales['state_tier']=final_sales['scaled_rank'].apply(scaled)
final_sales

,state,total_sales_value,total_cars_sold,brands_sold,sales_rank,cars_rank,brands_rank,avg_rank,scaled_rank,state_tier
0,ILLINOIS,96588992,179,17,4.0,3.0,3.0,3.333333,0.638298,Top Tier
1,OKLAHOMA,10066998,24,6,28.0,24.0,14.0,22.000000,6.595745,Mid Tier
2,WISCONSIN,16671999,39,11,22.0,15.0,9.0,15.333333,4.468085,Mid Tier
3,PENNSYLVANIA,37675998,84,14,13.0,8.0,6.0,9.000000,2.446809,Top Tier
4,MAINE,8025000,17,7,33.0,28.0,13.0,24.666667,7.446809,Bottom Tier
5,MASSACHUSETTS,55234995,83,15,8.0,9.0,5.0,7.333333,1.914894,Top Tier
6,OHIO,38726997,69,14,11.0,11.0,6.0,9.333333,2.553191,Top Tier
7,OREGON,28727998,36,14,17.0,18.0,6.0,13.666667,3.936170,Mid Tier
8,ARIZONA,15820000,32,9,23.0,20.0,11.0,18.000000,5.319149,Mid Tier
9,WYOMING,825000,2,2,44.0,36.0,17.0,32.333333,9.893617,Bottom Tier
10,LOUISIANA,3490000,8,4,37.0,31.0,16.0,28.000000,8.510638,Bottom Tier
11,NEW HAMPSHIRE,3287000,8,4,39.0,31.0,16.0,28.666667,8.723404,Bottom Tier
12,VIRGINIA,17545998,38,8,20.0,16.0,12.0,16.000000,4.680851,Mid Tier
13,NEW YORK,183087994,275,21,2.0,2.0,1.0,1.666667,0.106383,Top Tier
14,MARYLAND,38725999,35,12,12.0,19.0,8.0,13.000000,3.723404,Mid Tier
15,CALIFORNIA,184980984,310,20,1.0,1.0,2.0,1.333333,0.000000,Top Tier
16,MISSOURI,7689999,21,7,34.0,27.0,13.0,24.666667,7.446809,Bottom Tier
17,MINNESOTA,16844000,28,9,21.0,22.0,11.0,18.000000,5.319149,Mid Tier
18,DISTRICT OF COLUMBIA,36348996,59,14,15.0,12.0,6.0,11.000000,3.085106,Mid Tier
19,FLORIDA,68707499,110,16,7.0,6.0,4.0,5.666667,1.382979,Top Tier
20,INDIANA,31936997,56,12,16.0,13.0,8.0,12.333333,3.510638,Mid Tier
21,WASHINGTON,73394995,115,16,6.0,5.0,4.0,5.000000,1.170213,Top Tier
22,NORTH DAKOTA,965000,4,4,43.0,34.0,16.0,31.000000,9.468085,Bottom Tier
23,CONNECTICUT,5520000,10,6,35.0,30.0,14.0,26.333333,7.978723,Bottom Tier
24,NEW JERSEY,9442999,23,10,30.0,25.0,10.0,21.666667,6.489362,Mid Tier
25,MICHIGAN,54464998,91,14,9.0,7.0,6.0,7.333333,1.914894,Top Tier
26,IOWA,25774997,29,11,18.0,21.0,9.0,16.000000,4.680851,Mid Tier
27,NORTH CAROLINA,82849998,71,17,5.0,10.0,3.0,6.000000,1.489362,Top Tier
28,VERMONT,3003000,7,6,40.0,32.0,14.0,28.666667,8.723404,Bottom Tier
29,IDAHO,14109000,12,8,24.0,29.0,12.0,21.666667,6.489362,Mid Tier
30,GEORGIA,39746997,54,16,10.0,14.0,4.0,9.333333,2.553191,Top Tier
31,NEBRASKA,2174000,4,4,41.0,34.0,16.0,30.333333,9.255319,Bottom Tier
32,COLORADO,12062999,22,7,26.0,26.0,13.0,21.666667,6.489362,Mid Tier
33,TEXAS,103698994,160,20,3.0,4.0,2.0,3.000000,0.531915,Top Tier
34,SOUTH CAROLINA,4625000,8,6,36.0,31.0,14.0,27.000000,8.191489,Bottom Tier
35,WEST VIRGINIA,1120000,4,4,42.0,34.0,16.0,30.666667,9.361702,Bottom Tier
36,MONTANA,8149000,5,5,32.0,33.0,15.0,26.666667,8.085106,Bottom Tier
37,UTAH,17676000,29,12,19.0,21.0,8.0,16.000000,4.680851,Mid Tier
38,TENNESSEE,11610997,25,9,27.0,23.0,11.0,20.333333,6.063830,Mid Tier
39,ALABAMA,9680999,23,7,29.0,25.0,13.0,22.333333,6.702128,Mid Tier
40,RHODE ISLAND,769000,2,2,45.0,36.0,17.0,32.666667,10.000000,Bottom Tier
41,ARKANSAS,36409998,37,13,14.0,17.0,7.0,12.666667,3.617021,Mid Tier
42,KANSAS,12212149,28,6,25.0,22.0,14.0,20.333333,6.063830,Mid Tier
43,KENTUCKY,9105000,17,9,31.0,28.0,11.0,23.333333,7.021277,Bottom Tier
44,NEW MEXICO,3404000,3,2,38.0,35.0,17.0,30.000000,9.148936,Bottom Tier

In [35]:
report=final_sales[['state','total_sales_value','total_cars_sold','brands_sold','scaled_rank','state_tier']]
report

,state,total_sales_value,total_cars_sold,brands_sold,scaled_rank,state_tier
0,ILLINOIS,96588992,179,17,0.638298,Top Tier
1,OKLAHOMA,10066998,24,6,6.595745,Mid Tier
2,WISCONSIN,16671999,39,11,4.468085,Mid Tier
3,PENNSYLVANIA,37675998,84,14,2.446809,Top Tier
4,MAINE,8025000,17,7,7.446809,Bottom Tier
5,MASSACHUSETTS,55234995,83,15,1.914894,Top Tier
6,OHIO,38726997,69,14,2.553191,Top Tier
7,OREGON,28727998,36,14,3.936170,Mid Tier
8,ARIZONA,15820000,32,9,5.319149,Mid Tier
9,WYOMING,825000,2,2,9.893617,Bottom Tier
10,LOUISIANA,3490000,8,4,8.510638,Bottom Tier
11,NEW HAMPSHIRE,3287000,8,4,8.723404,Bottom Tier
12,VIRGINIA,17545998,38,8,4.680851,Mid Tier
13,NEW YORK,183087994,275,21,0.106383,Top Tier
14,MARYLAND,38725999,35,12,3.723404,Mid Tier
15,CALIFORNIA,184980984,310,20,0.000000,Top Tier
16,MISSOURI,7689999,21,7,7.446809,Bottom Tier
17,MINNESOTA,16844000,28,9,5.319149,Mid Tier
18,DISTRICT OF COLUMBIA,36348996,59,14,3.085106,Mid Tier
19,FLORIDA,68707499,110,16,1.382979,Top Tier
20,INDIANA,31936997,56,12,3.510638,Mid Tier
21,WASHINGTON,73394995,115,16,1.170213,Top Tier
22,NORTH DAKOTA,965000,4,4,9.468085,Bottom Tier
23,CONNECTICUT,5520000,10,6,7.978723,Bottom Tier
24,NEW JERSEY,9442999,23,10,6.489362,Mid Tier
25,MICHIGAN,54464998,91,14,1.914894,Top Tier
26,IOWA,25774997,29,11,4.680851,Mid Tier
27,NORTH CAROLINA,82849998,71,17,1.489362,Top Tier
28,VERMONT,3003000,7,6,8.723404,Bottom Tier
29,IDAHO,14109000,12,8,6.489362,Mid Tier
30,GEORGIA,39746997,54,16,2.553191,Top Tier
31,NEBRASKA,2174000,4,4,9.255319,Bottom Tier
32,COLORADO,12062999,22,7,6.489362,Mid Tier
33,TEXAS,103698994,160,20,0.531915,Top Tier
34,SOUTH CAROLINA,4625000,8,6,8.191489,Bottom Tier
35,WEST VIRGINIA,1120000,4,4,9.361702,Bottom Tier
36,MONTANA,8149000,5,5,8.085106,Bottom Tier
37,UTAH,17676000,29,12,4.680851,Mid Tier
38,TENNESSEE,11610997,25,9,6.063830,Mid Tier
39,ALABAMA,9680999,23,7,6.702128,Mid Tier
40,RHODE ISLAND,769000,2,2,10.000000,Bottom Tier
41,ARKANSAS,36409998,37,13,3.617021,Mid Tier
42,KANSAS,12212149,28,6,6.063830,Mid Tier
43,KENTUCKY,9105000,17,9,7.021277,Bottom Tier
44,NEW MEXICO,3404000,3,2,9.148936,Bottom Tier

In [36]:
report.to_csv('report.csv',index=False)